.statusBar ul li {
    cursor: pointer;
    color: #fff;
}
.pending {
    background: #dc3545;
}
.pending:hover{
    color: white;
    background: rgba(220, 53, 70, 0.596);
}
.ongoing {
    background: #0d6efd;
}
.ongoing:hover{
    color: white;
    background: #0d6dfd91;
}
.done {
    background: #198754;
}
.done:hover{
    color: white;
    background: #19875493;
}
.dropdown-menu{
    padding: 1px!important;
    border: 1px solid black!important;
}