.bookingList {
    background: white;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding: 1rem;
    border-radius: 0.3rem;
}
.bookingList img{
    height: 70px;
}
.bookingList h6{
    margin: 10px 0 0 0;
    color: #263179;
}
.serviceState {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.nameHighlight {
    font-weight: bold;
    color: #263179;
}

.dBranBtn {
    background: #7355F7;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    border: none;
    color: #fff;
    transition: 0.4s;
}

.dBranBtn:hover{
    background: #4C25F5;
}