.navStyle {
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    background: white;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
}
.navDefault {
    transition: 0.5s;
    padding: 25px 0 40px 0;
    margin-bottom: 2rem;
}

.mainNav .nav-link {
    color: #070120!important;
    padding: 0.5rem 1.4rem!important;
    font-weight: 500!important;
}

.navBrn {
    font-weight: 700;
    font-size: 1.5rem;
}
.brnIcon,
.navHighlight {
    color: #7355F7;;
}
.brnIcon {
    font-weight: 800;
    font-size: 1.6rem
}

.logOutBtn{
    background-color: #263179;
    color: #fff;
    font-weight: 500;
    border-radius: 0.2rem;
    border: none;
    padding: 0.4rem 0.6rem;
    margin: 0.1rem 0 0 0.2rem;
}
.logOutBtn:hover{
    background-color: #3d4b92;
}
.loginBtn {
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    color:#fff;
    background: #7355F7;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
}
.loginBtn:hover { 
    background : #4B24F5
}
