.workDetails {
    margin-top: 3rem;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding: 0.8rem 1.2rem;
    border-radius: 0.3rem;
}
.detailIcon{
    font-size: 3rem;
    margin-right: 1rem;
}