.footerLink {
    padding: 1rem 2rem;
}
.footerLink h5 {
    color: rgba(240, 255, 255, 0.925);
}
.footerLink li {
    list-style: none;
}
.footerLink a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}