body {
  margin: 0!important;
  padding: 0!important;
  font-family: -apple-system, BlinkMacSystemFont, 'sans-serif' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #dfdfdf;
}
body::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #868686;
}