.orderList{
    background: white;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding: 2rem;
    border-radius: 0.3rem;
    width: 100%;
}
.tableTitle {
    background: #efefef;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
}
.tableTitle p {
    margin-bottom: 0;
    font-weight: 500;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #fcfcfc!important;
}